html{
  height: 100%;
  margin: 0;
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
  overflow: scroll;
}
body{
  height: 100%;
  margin: 0;
}

html::-webkit-scrollbar{
  display: none;
}

/* header {
  color: rgb(0, 0, 0);
  
  text-align: center;
  font-size: 35px;
  padding: 30px;
} */

.hero-image{
  background-image: url("Picture.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 100%;
  width: 100%;
  margin-top: 0;
}

.hero-text {
  color: rgba(200, 205, 214, 0.767);
  
}

.hello{
  color: white;
  left: 0%;
}

.name{
  color: white;
}

body {
  background-color: rgba(0, 0, 0, 0.877);
}

.about-me{
  color: yellow;
  font-size: larger;
  text-align: center;
  background-image: -webkit-linear-gradient(45deg, green, black);
}

.resume{
  text-align: center;
}